@{
    ViewData["Title"] = "Confirm Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h4>Delete Employee @Convert.ToString(ViewBag.id)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" method="post">
       
            <input type="hidden" id="id" name="id" value="@ViewBag.id" />
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
